body {
  height: 1200px;
  font-family: ;
}
.self-intro {
  color: white;
}
.sort-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-top: solid #dddddd;
}

.carousel-item img {
  height: 100vh;
}
.carousel-caption {
  background-color: white;
  border-radius: 30px;
  bottom: 300px;
  width: auto;
  border: 3px solid black;
  align-items: center;
  opacity: 0.8;
}
.self-intro{
  color: black;
  font-size: 35px;
  font-family: 'Jua', sans-serif;
}